@charset "utf-8";
/* =============================================================================

    @note    compresseur de code css : http://www.cleancss.com/

    collection de polices : http://www.alsacreations.com/article/lire/631-quelles-polices-pour-un-site-web.html

    Polices à empattements (serif)
        font-family: Times, "Times New Roman", "Liberation Serif", FreeSerif, serif;
        font-family: Georgia, "DejaVu Serif", Norasi, serif;

    Polices sans empattements (sans-serif)
        font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
        font-family: Tahoma, Geneva, Kalimati, sans-serif;
        font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
        font-family: Impact, "Arial Black", sans-serif;

    Polices à chasse fixe (monospace)
        font-family: Courier, "Courier New", FreeMono, "Liberation Mono", monospace;
        font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;

    Conventions de nommage des éléments génériques.
        #header {} bloc d'entête
        #footer {} bloc de pied de page
        #main-nav {} navigation principale
        #aside-nav {} navigation latérale
        #secondary-nav {} navigation supplémentaire
        #breadcrumb {} fil d'ariane
        #sidebar {} partie latérale
        #contact {} formulaire de contact
        .error {} signalement des erreurs
        .succes {} signalement d'une opération réussie
        .warnig {} bloc pour attirer l'attention
        .info {} élément ou bloc d'information
        .more {} lien générique type "en savoir plus"
        .block {} block générique

    Si besoin suffixer les classes .block-a, .more-a etc

    Quelques classes génériques si besoin
        .clear-left { clear:left }
        .clear-right { clear:right }
        .clear-both { clear:both }
        .valign-middle { vertical-align:middle }
        .valign-top { vertical-align:top }
        .valign-bottom { vertical-align:bottom }
        .invisible { visibility:hidden }
        .suffix1 { margin-right:XXpx }
        .prefix1 { margin-left:XXpx }
        .prepend-top { margin-top:XXem }
        .append-bottom { margin-bottom:XXem }

========================================================================== */
/* =============================================================================
    Styles par défaut
    ========================================================================== */
body {
    background: #fff;
    color: #000;
}

/*
 *  http://www.alsacreations.com/astuce/lire/43-comment-dfinir-lapparence-de-ses-liens.html
 */
a:visited {
    color: gray;
}

a:hover,
a:focus,
a:active {
    color: #da0019;
}

input,
textarea {
    font-family: inherit;
}

img {
    vertical-align: top;
}


/* =============================================================================
   From http://www.alsacreations.com/astuce/lire/654-feuille-de-styles-de-base.html
   ========================================================================== */
/* =============================================================================
   Title
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4, h5, h6 {
    font-size: 1em;
}

.h1-like:first-child,
.h2-like:first-child,
.h3-like:first-child,
.h4-like:first-child,
.h5-like:first-child,
.h6-like:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0 !important;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
    margin: .75em 0;
    padding: 0 0 0 17px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

dl {
    margin: .75em 0;
}

dt {
  margin: .75em 0 0;
  font-weight: 700;
}

dd {
    margin: .25em 0 .25em 32px;
}

/* =============================================================================
   Paragraphs
   ========================================================================== */
p {
    margin: .75em 0;
}

blockquote p,
li p {
    margin: .5em 0;
}

/* =============================================================================
   various
   ========================================================================== */
address {
    margin: .75em 0;
    font-style: normal;
}

em {
    font-style: italic;
}

blockquote {
    margin: 1em 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* =============================================================================
    Helpers
    ========================================================================== */
/*
 *  Micro clear fix http://nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/*
 * Image replacement
 * http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n,0,lt = small(< 10px),medium(10px>x<20px),large(20px>x<30px), zero or none(0), <0
source https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
*/
.ma0 {
    margin: 0 !important;
}

.pa0 {
    padding: 0 !important;
}

/* =============================================================================
   Layout
   ========================================================================== */
.wrapper {
    overflow: hidden;
}

.grid-a {
    float: left;
}

.grid-a {
    width: 200px;
}

#container {
    margin: 0 auto;
}
